<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qxy.db.mapper.ErrorLogMapper" >
  <resultMap id="BaseResultMap" type="com.qxy.db.model.ErrorLog" >
    <id column="info_id" property="infoId" jdbcType="VARCHAR" />
    <result column="cur_date" property="curDate" jdbcType="VARCHAR" />
    <result column="task_name" property="taskName" jdbcType="VARCHAR" />
    <result column="log_dev" property="logDev" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    info_id, cur_date, task_name, log_dev
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.qxy.db.model.ErrorLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from error_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from error_log
    where info_id = #{infoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from error_log
    where info_id = #{infoId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.qxy.db.model.ErrorLogExample" >
    delete from error_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.qxy.db.model.ErrorLog" >
    insert into error_log (info_id, cur_date, task_name, 
      log_dev)
    values (#{infoId,jdbcType=VARCHAR}, #{curDate,jdbcType=VARCHAR}, #{taskName,jdbcType=VARCHAR}, 
      #{logDev,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.qxy.db.model.ErrorLog" >
    insert into error_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        info_id,
      </if>
      <if test="curDate != null" >
        cur_date,
      </if>
      <if test="taskName != null" >
        task_name,
      </if>
      <if test="logDev != null" >
        log_dev,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="infoId != null" >
        #{infoId,jdbcType=VARCHAR},
      </if>
      <if test="curDate != null" >
        #{curDate,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="logDev != null" >
        #{logDev,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.qxy.db.model.ErrorLogExample" resultType="java.lang.Integer" >
    select count(*) from error_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update error_log
    <set >
      <if test="record.infoId != null" >
        info_id = #{record.infoId,jdbcType=VARCHAR},
      </if>
      <if test="record.curDate != null" >
        cur_date = #{record.curDate,jdbcType=VARCHAR},
      </if>
      <if test="record.taskName != null" >
        task_name = #{record.taskName,jdbcType=VARCHAR},
      </if>
      <if test="record.logDev != null" >
        log_dev = #{record.logDev,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update error_log
    set info_id = #{record.infoId,jdbcType=VARCHAR},
      cur_date = #{record.curDate,jdbcType=VARCHAR},
      task_name = #{record.taskName,jdbcType=VARCHAR},
      log_dev = #{record.logDev,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.qxy.db.model.ErrorLog" >
    update error_log
    <set >
      <if test="curDate != null" >
        cur_date = #{curDate,jdbcType=VARCHAR},
      </if>
      <if test="taskName != null" >
        task_name = #{taskName,jdbcType=VARCHAR},
      </if>
      <if test="logDev != null" >
        log_dev = #{logDev,jdbcType=VARCHAR},
      </if>
    </set>
    where info_id = #{infoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qxy.db.model.ErrorLog" >
    update error_log
    set cur_date = #{curDate,jdbcType=VARCHAR},
      task_name = #{taskName,jdbcType=VARCHAR},
      log_dev = #{logDev,jdbcType=VARCHAR}
    where info_id = #{infoId,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.qxy.db.model.ErrorLogExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from error_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>